<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <form method="post" action="/AddItemFunc">
            <textarea name="type" style="align-self: center" id="type"></textarea>
            <label for="type">Type</label>
            <textarea name="name" style="align-self: center" id="name"></textarea>
            <label for="name">Name</label>
            <textarea name="released" style="align-self: center" id="released"></textarea>
            <label for="released">Released</label>
            <textarea name="Author" style="align-self: center" id="Author"></textarea>
            <label for="Author">Author</label>
            <textarea name="Genre" style="align-self: center" id="Genre"></textarea>
            <label for="Genre">Genre</label>
            <input type="submit" style="align-self: center">
        </form>
    </div>

</body>
</html>