<!doctype html>
    <html lang="en">

      <head>
        <title>Homepage</title>
      </head>
          <script
          type="text/javascript"
          src="https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js"></script>
          <script type="text/javascript", src="../static/graphing.js">
          </script>
          <script type="text/javascript", src="../static/slider.js">
          </script>
          <script type="text/javascript", src="../static/Search.js">
          </script>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/FilterStyling.css') }}">
    <body onload='OverCompile({{nodes|tojson|safe}},
                              {{wrote|tojson|safe}},
                              {{influences|tojson|safe}},
                              {{genrelinks|tojson|safe}})' >
          <div class="GraphBox" id="Overlay">
            <div class="Overlay">
              <input type="checkbox" id="texts" name="texts" onclick='OverCompile(
                                {{nodes|tojson|safe}},
                              {{wrote|tojson|safe}},
                              {{influences|tojson|safe}},
                              {{genrelinks|tojson|safe}})' checked>
              <label for="texts">Texts</label>
              <input type="checkbox" id="writers" name="writers" onclick='OverCompile(
                                {{nodes|tojson|safe}},
                                {{wrote|tojson|safe}},
                                {{influences|tojson|safe}},
                                {{genrelinks|tojson|safe}})' checked>
              <label for="writers">Writers</label>
              <input type="checkbox" id="genres" name="genres" onclick='OverCompile(
                                {{nodes|tojson|safe}},
                                {{wrote|tojson|safe}},
                                {{influences|tojson|safe}},
                                {{genrelinks|tojson|safe}})' checked>
              <label for="genres">Genres</label>
              <div class="search">
                  <input type="text" class="SearchBar" placeholder="What are you looking for?" id="SearchBar">
                  <label for="SearchBar">Search</label>
                  <button type="submit" class="searchButton" onclick="Search()">
                    <i class="fa fa-search"></i>
                 </button>
              </div>
            </div>

          </div>
        <div class=graph id="mynetwork"></div>
    </body>
    </html>
