<html lang="en">
  <head>
    <title>graph testing</title>

    <script
      type="text/javascript"
      src="https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js"
    ></script>

    <style type="text/css">
      #mynetwork {
        width: 100%;
        height: 100%;
        border: 1px solid lightgray;
      }
    </style>
  </head>
  <script type="text/javascript">
      function draw() {
var container = document.getElementById("mynetwork");
var books = {{books|tojson|safe}}
var nodelist = []
for (let i= 0; i < books.length; i++){
  nodelist.push({
      'id': books[i]['id'] ,
      'shape': "circularImage",
      'image': books[i]['image'],
      'label': books[i]['name'],
      'fixed': false,
      'url': 'text/' + books[i]['name']
  })
}

  var nodes = new vis.DataSet(nodelist);

  var edges = new vis.DataSet([
    {from: 13, to: 30, label: "WROTE"},
    {from: 17, to: 29},
    {from: 15, to: 14},
    {from: 17, to: 15},
    {from: 23, to: 16},
    {from: 28, to: 17},
    {from: 29, to: 18}
  ]);
  var data = {
    nodes: nodes,
    edges: edges
  };

  var options = {
    nodes: {
      borderWidth: 0,
      size: 42,
      color: {
        border: "#222",
        background: "transparent"
      },
      font: {
        color: "#111",
        face: "Helvetic",
        size: 16,
        strokeWidth: 1,
        strokeColor: "#222"
      }
    },
    edges: {
      color: {
        color: "#CCC",
        highlight: "#A22"
      },
      width: 5,
      length: 350,
      hoverWidth: 0.05
    }
  };

  var network = new vis.Network(container, data, options);
  network.on("selectNode", function (params) {
    if (params.nodes.length === 1) {
      var node = nodes.get(params.nodes[0]);
      window.open(node.url, "_blank");
    }
    network.unselectAll();
  });
}

  </script>
  <body onload="draw()">
    <div id="mynetwork"></div>
  </body>
</html>

<!--<html lang="">
        <head>
             <title>Graph</title>
                <style type="text/css">
                    #viz {
                        width: 100%;
                        height: 100%;
                        autoResize: true;
                    }
                </style>
            <link rel="stylesheet" href="styles.css">
            <script src="graphing.js"></script>
        </head>
    <body>
    <p>hi</p>
        <div id="graph"></div>
    </body>
</html>-->
<!--<html>
    <head>
        <title>DataViz</title>
        <style type="text/css">
            #viz {
                width: 100%;
                height: 100%;
                autoResize: true;
            }
        </style>
        <script src="https://rawgit.com/neo4j-contrib/neovis.js/master/dist/neovis.js"></script>
    </head>
    <script>
        function draw() {
            var config = {
                container_id: "viz",
                server_url: "bolt://3.235.105.50",
                server_user: "neo4j",
                server_password: "twirls-cargoes-misleads",
                labels: {
                    "Text": {
                        caption: "title",
                        size: 20,
                        community: "Genre",
                        //image: "image"
                    },
                    "Author": {
                        caption: "name",
                        size: 20,
                        community:"Movement"
                    },
                    "Genre": {
                        caption: "name",
                        size: 20
                    }
                },
                relationships: {
                    "INFLUENCED": {
                        caption: "nature",
                        thickness: 7,
                        //image: "https://cdn.shopify.com/s/files/1/0081/1260/3217/products/2ae0626457064b8a874fbb899abeff96_2048x2048.jpg?v=1598869364"
                    },
                    "WROTE": {
                        caption: false,
                        thickness: 8,
                    },
                    "Genre": {
                        caption: false,
                        thickness: 4,
                    }
                },
                initial_cypher: "MATCH (n1)-[r]->(n2) RETURN r, n1, n2 LIMIT 40"//"MATCH (n) RETURN n"
            }

            var viz = new NeoVis.default(config);
            viz.render();
            viz.stablize()
        }
    </script>
    <body onload="draw()">
        <div id="viz"></div>
    </body>
</html>-->