<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
      <link href="../static/CSS/styles.css" rel="stylesheet" type="text/css">
      <script type="text/javascript", src="../static/SlideShow.js">
          </script>
      <title>{{ text_name }}</title>
  </head>

  <body>

    <div id="Attributes">
        <h1 id="Title">{{text_name}}</h1>
        <h2 id="Subtitle">Info</h2>
        <p id="infotext">Date Written: {{ text_record[0]['n']['released'] }}</p>
    </div>
    <!-- Slideshow container -->
    <div class="slideshow-container">

      <!-- Full-width images with number and caption text -->
      <div class="mySlides fade" style="display: block;">
        <div class="numbertext">1 / 3</div>
        <img src="{{ text_record[0]['n']['image'] }}" style="width:100%">
      </div>

      <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img src="{{ text_record[0]['n']['image2'] }}" style="width:100%">
      </div>

      <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="{{ text_record[0]['n']['image3'] }}" style="width:100%">
      </div>

      <!-- Next and previous buttons -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>
    <!-- The dots/circles -->
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>

    <h2 id="Subtitle">Synopsis</h2>
    <p id="infotext">{{ text_record[0]['n']['Synopsis'] }}</p>

    <p><a href="/">Back to the main page</a></p>
  </body>

</html>
